<!DOCTYPE html>
<!--
	24 News by FreeHTML5.co
	Twitter: https://twitter.com/fh5co
	Facebook: https://fb.com/fh5co
	URL: https://freehtml5.co
-->
<html lang="en" class="no-js">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Thanat Beam</title>
    <link href="css/media_query.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="css/animate.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css"/>
    <link href="css/owl.theme.default.css" rel="stylesheet" type="text/css"/>
    <!-- Bootstrap CSS -->
    <link href="css/style_1.css" rel="stylesheet" type="text/css"/>
    <!-- Modernizr JS -->
    <script src="js/modernizr-3.5.0.min.js"></script>
</head>
<body class="single">
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 fh5co_padding_menu">
                <img src="images/logo.png" alt="img" class="fh5co_logo_width" />
            </div>
            <div class="text-center d-inline-block">
                <li><a href="/login">Login</a></li>
            </div>
            <div class="text-center d-inline-block">
                <li><a href="/register">Register</a></li>
            </div>
            
            <div class="col-12 col-md-9 align-self-center fh5co_mediya_right">
                <div class="text-center d-inline-block">
                    <a class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-search"></i></div></a>
                </div>
                <div class="text-center d-inline-block">
                    <a class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-linkedin"></i></div></a>
                </div>
                <div class="text-center d-inline-block">
                    <a class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-google-plus"></i></div></a>
                </div>
                <div class="text-center d-inline-block">
                    <a href="https://twitter.com/fh5co" target="_blank" class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-twitter"></i></div></a>
                </div>
                <!--<div class="text-center d-inline-block">
                    <a href="https://fb.com/fh5co" target="_blank" class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-facebook"></i></div></a>
                </div>-->
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-faded fh5co_padd_mediya padding_786">
    <div class="container padding_786">
        <nav class="navbar navbar-toggleable-md navbar-light ">
            <button class="navbar-toggler navbar-toggler-right mt-3" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
            <a class="navbar-brand" href="#"><img src="images/logo.png" alt="img" class="mobile_logo_width"/></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">หน้าหลัก <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/blog">สถานที่ท่องเที่ยว <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/Review">กระทู้รีวิว <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/Covid19">Covid19<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/Contact">ติดต่อ <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div id="fh5co-title-box" style="background-image: url(images/Photo/Index/01/01.jpg); background-position: 50% 90.5px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="page-title">
        <img src="images/Photo/Index/01/01.jpg" alt="Free HTML5 by FreeHTMl5.co">
        <span>January 1, 2018</span>
        <h2>วัดพระแก้ว</h2>
    </div>
</div>
<div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <p>
                    ไฟล์ทบังคับ ไทย จีน ฝรั่ง แขก ใครก็ตาม ถ้าได้มาเที่ยวกรุงเทพฯ ต้องแวะไปกราบ พระแก้วมรกต สักครั้ง ที่ วัดพระศรีรัตนศาสดาราม หรือ วัดพระแก้ว พระพุทธรูปคู่บ้านคู่เมืองของไทยเพื่อเป็นสิริมงคลค่ะ นอกจากนี้ ที่นี่ยังเป็นวัดหลวงที่สำคัญในพระราชพิธีต่างๆ และยังเป็นแหล่งท่องเที่ยวที่สำคัญของประเทศไทยเราอีกด้วย
                </p>
                <p>
                    พระอุโบสถ ตั้งอยู่ส่วนใต้ของวัดพระศรีรัตนศาสดาราม มีกำแพงแก้วล้อมรอบ มีซุ้มประดิษฐานเสมารวม 8 ซุ้ม พระบาทสมเด็จพระพุทธยอดฟ้าจุฬาโลกมหาราชโปรดเกล้าฯ ให้สร้างขึ้นใน พ.ศ. 2325 แล้วเสร็จในปี พ.ศ. 2327[1] เพื่อประดิษฐานพระพุทธมหามณีรัตนปฏิมากร (แก้วมรกต) ที่พระองค์ทรงอัญเชิญมาจากเวียงจันทน์พระ อุโบสถมีขนาดใหญ่ หลังคาลด 4 ระดับ 3 ซ้อน มีช่อฟ้า 3 ชั้น ปิดทองประดับกระจก ตัวพระอุโบสถมีระเบียงเดินได้โดยรอบ มีหลังคาเป็นพาไลคลุม รับด้วยเสานางรายปิดทองประดับกระจกทั้งต้น พนักระเบียงรับเสานางราย ทำเป็นลูกฟักประดับด้วยกระเบื้องเคลือบสีอย่างจีน ตัวพระอุโบสถมีฐานปัทม์รับอีกชั้นหนึ่ง ประดับครุฑยุดนาคหล่อด้วยโลหะปิดทอง มีเสารายเทียนหล่อด้วยทองแดงล้อมรอบทั้งสี่ด้าน ผนังพระ อุโบสถ ในรัชกาลที่ 1 เขียนลายรดน้ำบนพื้นชาดแดง รัชกาลที่ 3 โปรดเล้าฯ ให้ปั้นลายพุ่มข้าวบิณฑ์ ปิดทองประดับกระจก เพื่อให้เข้ากับผนังมณฑป ปิดทองประดับกระจก ฝาผนัง รอบนอกเป็นลายรดน้ำปิดทองรูปกระหนกเครือแย่งทรงข้าวบิณฑ์ดอกในบนพื้นสีชาด ฝาผนังด้านในเหนืฤฆฏโฤ"ฎโฆฏโฤฆโฤฆฏโอประตูด้านสกัดเป็นภาพเรื่องมารวิชัยและเรื่องไตรภูมิ ส่วนฝาผนังด้านยาวเขียนภาพเทพชุมนุมตามแบบที่สืบเนื่องมาจากสมัยอยุธยา ฝาผนังระหว่างหน้าต่างเขียนภาพเรื่องปฐมสมโพธิ พระ ทวารกลาง เป็นพระทวารใหญ่สูง 8 ศอกคืบ กว้าง 4 ศอกคืบ ตัวบานเป็นบานประดับมุกลายช่องกลม ส่วนพระทวารข้างเป็นทวารรองสูง 7 ศอก กว้าง 3 ศอก 1 คืบ 10 นิ้ว ตัวบานเป็นบานประดับมุกกลายเต็ม ซึ่งบานพระทวารทั้ง 2 แห่งนี้ สมเด็จ ฯ เจ้าฟ้ากรมพระยานริศรานุวัดติวงศ์ประทานความเห็นว่า “เป็นฝีมือที่น่าชมยิ่ง ตั้งใจทำแข่งกับบานที่ทำครั้งแผ่นดินพระเจ้าบรมโกศ ซึ่งอยู่ที่วิหารยอด” ภายในพระ อุโบสถได้รับการตกแต่งอย่างวิจิตรงดงามตั้งแต่เพดานถึงพื้น กลางห้องประดิษฐานพระแก้วมรกตในบุษบกทองคำพร้อมด้วยพระพุทธรูปสำคัญมากมาย
                </p>
                <h3>หอราชกรมานุสรณ์และหอพงศานุสรณ์</h3>
                <p>
                    หอราชกรมานุสรณ์และหอพงศานุสรณ์ สร้างในสมัยรัชกาลที่ 4 ตั้งอยู่บนกำแพงแก้ว ด้านหลังพระอุโบสถทางทิศเหนือ ภายในประดิษฐานพระพุทธรูปประจำรัชกาลต่าง ๆ ในสมัยอยุธยาหอหนึ่ง และในสมัยรัตนโกสินทร์อีกหอหนึ่ง ภายในเขียนภาพพระราชพงศาวดารกรุงศรีอยุธยา ซึ่งเป็นฝีมือของขรัวอินโข่ง จิตรกรไทยที่มีฝีมือดีที่สุดในสมัยนั้น
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid fh5co_footer_right_reserved">
    <div class="container">
        <div class="row  ">
            <div class="col-12 col-md-6 py-4 Reserved"> © Copyright 2018, All rights reserved. Design by <a href="https://freehtml5.co" title="Free HTML5 Bootstrap templates">FreeHTML5.co</a>. </div>
    </div>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Parallax -->
<script src="js/jquery.stellar.min.js"></script>
<!-- Main -->
<script src="js/main.js"></script>
<script>if (!navigator.userAgent.match(/Android|BlackBerry|iPhone|iPad|iPod|Opera Mini|IEMobile/i)){$(window).stellar();}</script>

</body>
</html>