<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TH travel</title>
    <link href="css/media_query.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="css/animate.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css"/>
    <link href="css/owl.theme.default.css" rel="stylesheet" type="text/css"/>
    <!-- Bootstrap CSS -->
    <link href="css/style_1.css" rel="stylesheet" type="text/css"/>
    <!-- Modernizr JS -->
    <script src="js/modernizr-3.5.0.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="page_type" content="np-template-header-footer-from-plugin">
<title>Page 1</title>
<link rel="stylesheet" href="css/nicepage.css" media="screen">
<link rel="stylesheet" href="css/Page-1.css" media="screen">
<script class="u-script" type="text/javascript" src="js/jquery.js" defer=""></script>
<script class="u-script" type="text/javascript" src="js/nicepage.js" defer=""></script>
<meta name="generator" content="Nicepage 3.1.3, nicepage.com">
<link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
</head>
<body class="single">
<div class="container-fluid">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-3 fh5co_padding_menu">
                <!--<img src="images/logo.png" alt="img" class="fh5co_logo_width"/>-->
            </div>
            <div class="col-12 col-md-9 align-self-center fh5co_mediya_right">
                <div class="text-center d-inline-block">
                    <li><a href="/login">Login</a></li>
                </div>
                <div class="text-center d-inline-block">
                    <li><a href="/register">Register</a></li>
                </div>
                <!--<div class="text-center d-inline-block">
                    <a class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-search"></i></div></a>
                </div>-->
                <!--<div class="text-center d-inline-block">
                    <a class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-linkedin"></i></div></a>
                </div>
                <div class="text-center d-inline-block">
                    <a class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-google-plus"></i></div></a>
                </div>
                <div class="text-center d-inline-block">
                    <a href="https://twitter.com/fh5co" target="_blank" class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-twitter"></i></div></a>
                </div>
                <div class="text-center d-inline-block">
                    <a href="https://fb.com/fh5co" target="_blank" class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-facebook"></i></div></a>
                </div>-->
                <!--<div class="d-inline-block text-center"><img src="images/country.png" alt="img" class="fh5co_country_width"/></div>-->

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-faded fh5co_padd_mediya padding_786">
    <div class="container padding_786">
        <nav class="navbar navbar-toggleable-md navbar-light ">
            <button class="navbar-toggler navbar-toggler-right mt-3" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
            <a class="navbar-brand" href="#"><img src="images/logo.png" alt="img" class="mobile_logo_width"/></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">หน้าหลัก <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/blog">สถานที่ท่องเที่ยว <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/Review">กระทู้รีวิว <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/Covid19">Covid19 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/Contact">ติดต่อ <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<section class="u-clearfix u-section-2" id="sec-b0f8">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-border-3 u-border-grey-40 u-container-style u-group u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <h3 class="u-text u-text-default u-text-1">รายงานสถานการณ์ Covid-19 ในประเทศไทย</h3>
                <p class="u-text u-text-default u-text-2" id='covidDate'>อัพเดทข้อมูล วันที่</p>
                <div
                    class="u-align-center u-container-style u-group u-palette-4-light-2 u-radius-10 u-shape-round u-group-2">
                    <div class="u-container-layout u-valign-top u-container-layout-2">
                        <h5 class="u-align-center u-text u-text-default u-text-3">ผู้ติดเชื้อรายใหม่</h5>
                        <div id = 'newConfirmed' style="text-align: center; vertical-align: text-bottom;"></div>
                    </div>
                </div>
                <div
                    class="u-align-center u-container-style u-custom-color-5 u-group u-radius-10 u-shape-round u-group-3">
                    <div class="u-container-layout u-valign-top u-container-layout-3">
                        <h5 class="u-align-center u-text u-text-default u-text-4">ผู้เข้ารักษาในโรงพยาบาลรายใหม่</h5>
                        <div id='newHospitalized' style="text-align: center; vertical-align: text-bottom;"></div>
                    </div>
                </div>
                <div
                    class="u-align-center u-container-style u-custom-color-2 u-group u-radius-10 u-shape-round u-group-4">
                    <div class="u-container-layout u-valign-top u-container-layout-4">
                        <h5 class="u-align-center u-text u-text-default u-text-5">ผู้ป่วยรักษาหายรายใหม่</h5>
                        <div id='newRecovered' style="text-align: center; vertical-align: text-bottom;"></div>
                    </div>
                </div>
                <div
                    class="u-align-center u-container-style u-custom-color-6 u-group u-radius-10 u-shape-round u-group-5">
                    <div class="u-container-layout u-container-layout-5">
                        <h5 class="u-align-center u-text u-text-default u-text-6">ผู้เสียชีวิตรายใหม่</h5>
                        <div id='newDeaths' style="text-align: center; vertical-align: text-bottom;"></div>
                    </div>
                </div>
                <div
                    class="u-align-center u-container-style u-group u-palette-5-light-2 u-radius-10 u-shape-round u-group-6">
                    <div class="u-container-layout u-valign-top u-container-layout-6">
                        <h5 class="u-align-center u-text u-text-default u-text-7">ผู้ติดเชื้อสะสม</h5>
                        <div id='confirmed' style="text-align: center; vertical-align: text-bottom;"></div>
                    </div>
                </div>
                <div
                    class="u-align-center u-container-style u-custom-color-3 u-group u-radius-10 u-shape-round u-group-7">
                    <div class="u-container-layout u-valign-top u-container-layout-7">
                        <h5 class="u-align-center u-text u-text-default u-text-8">ผู้ที่กำลังรักษาในโรงพยาบาล</h5>
                        <div id='hospitalized' style="text-align: center; vertical-align: text-bottom;"></div>
                    </div>
                </div>
                <div
                    class="u-align-center u-container-style u-group u-palette-1-base u-radius-10 u-shape-round u-group-8">
                    <div class="u-container-layout u-valign-top u-container-layout-8">
                        <h5 class="u-align-center u-text u-text-default u-text-9">ผู้ป่วยรักษาหายสะสม</h5>
                        <div id='recovered' style="text-align: center; vertical-align: text-bottom;"></div>
                    </div>
                </div>
                <div
                    class="u-align-center u-container-style u-custom-color-1 u-group u-radius-10 u-shape-round u-group-9">
                    <div class="u-container-layout u-valign-top u-container-layout-9">
                        <h5 class="u-align-center u-text u-text-default u-text-10">ผู้เสียชีวิตสะสม</h5>
                        <div id='deaths' style="text-align: center; vertical-align: text-bottom;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<iframe src="https://covid19.th-stat.com/th/share/dashboard" name="iframe_a" height="400px" width="100%" title=""></iframe>-->

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Parallax -->
<script src="js/jquery.stellar.min.js"></script>
<!-- Main -->
<script src="js/main.js"></script>
<script>if (!navigator.userAgent.match(/Android|BlackBerry|iPhone|iPad|iPod|Opera Mini|IEMobile/i)){$(window).stellar();}</script>

<script>
    $.get("https://covid19.th-stat.com/api/open/today",
        function(data,status){
            //alert("data->"+JSON.stringify(data)+",\n status->"+status);
            $("#covidDate").append(" "+data.UpdateDate);
            $("#newConfirmed").html(data.NewConfirmed);
            $("#newHospitalized").html(data.NewHospitalized);
            $("#newRecovered").html(data.NewRecovered);
            $("#newDeaths").html(data.NewDeaths);
            $("#confirmed").html(data.Confirmed);
            $("#hospitalized").html(data.Hospitalized);
            $("#recovered").html(data.Recovered);
            $("#deaths").html(data.Deaths);
        });

</script>

</body>
</html>